<launch>
  <!-- Initialize the Gazebo world  -->
  <include file="$(find uuv_descriptions)/launch/ocean_waves.launch">
    <arg name="gui" value="false"/>
  </include>

  <include file="$(find uuv_plume_simulator)/launch/start_plume_server.launch"/>

  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find uuv_plume_simulator)/rviz/plume_example.rviz"/>
</launch>
